<!--
  app/views/poems/_poem_preview.html.erb

  This partial renders a preview card for a single poem.
  It's used in various places like:
  - Related poems section
  - Index page
  - User profile page

  Expected locals:
  - poem: A Poem object to display
-->

<div class="poem-preview" id="poem-<%= poem.id %>">
  <%# Title with link to full poem %>
  <h3 class="poem-preview-title">
    <%= link_to poem.title, poem_path(poem), class: 'poem-link' %>
    <% if poem.featured? %>
      <span class="featured-badge" title="Featured poem">★</span>
    <% end %>
  </h3>

  <%# Metadata section %>
  <div class="poem-preview-meta">
    <% if poem.public_domain? %>
      <%# Show original publication date for public domain works %>
      <span class="author">By <%= poem.user.email %></span>
      <% if poem.published_year.present? %>
        <span class="publication-year">
          | Originally published: <%= poem.published_year %>
        </span>
      <% end %>
    <% else %>
      <%# Show creation date for contemporary works %>
      <span class="author">By <%= poem.user.email %></span>
      <span class="date">
        | <%= poem.created_at.strftime("%B %d, %Y") %>
      </span>
    <% end %>
  </div>

  <%# Preview of poem content %>
  <div class="poem-preview-content">
    <%= truncate(poem.content,
                 length: 150,
                 separator: ' ',
                 omission: '...') %>
  </div>

  <%# Engagement metrics %>
  <div class="poem-preview-stats">
    <span class="likes-count" title="Number of likes">
      <%= pluralize(poem.likes.count, 'like') %>
    </span>
  </div>

  <%# Action link %>
  <div class="poem-preview-action">
    <%= link_to 'Read More',
                poem_path(poem),
                class: 'btn btn-read-more',
                title: "Read '#{poem.title}' in full" %>
  </div>
</div>