<h2 class="text-center mb-1">Featured Poems</h2>

<div class="featured-poems">
  <% if @featured_poems.any? %>
    <% @featured_poems.each do |poem| %>
      <article class="poem featured-poem">
        <h3><%= link_to poem.title, poem_path(poem) %></h3>
        <p class="poem-meta">By <%= poem.user.email %> | <%= poem.created_at.strftime("%B %d, %Y") %></p>
        <div class="poem-content">
          <%= truncate(poem.content, length: 200) %>
        </div>
        <%= link_to 'Read More', poem_path(poem), class: 'btn' %>
      </article>
    <% end %>
  <% else %>
    <p>There are no featured poems at the moment.</p>
  <% end %>
</div>

<div class="text-center mt-1">
  <%= link_to 'View All Poems', poems_path, class: 'btn' %>
</div>