<article class="poem">
  <h2><%= @poem.title %></h2>
  <p class="poem-meta">By <%= @poem.user.email %> | <%= @poem.created_at.strftime("%B %d, %Y") %></p>
  <div class="poem-content">
    <%= simple_format(@poem.content) %>
  </div>
</article>

<div class="poem-actions mt-1">
  <% if user_signed_in? && current_user == @poem.user %>
    <%= link_to 'Edit', edit_poem_path(@poem), class: 'btn' %>
    <%= link_to 'Delete', poem_path(@poem), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn' %>
  <% end %>
  <%= link_to 'Back to Poems', poems_path, class: 'btn' %>
</div>