<!-- app/views/comments/_comment.html.erb -->
<%= turbo_frame_tag dom_id(comment) do %>
  <div class="comment">
    <div class="comment-meta">
      <span class="comment-author"><%= comment.user.email %></span>
      <span class="comment-date"><%= time_ago_in_words(comment.created_at) %> ago</span>
    </div>

    <div class="comment-content">
      <%= simple_format(comment.content) %>
    </div>

    <% if comment.can_be_deleted_by?(current_user) %>
      <div class="comment-actions">
        <%= button_to poem_comment_path(comment.poem, comment),
                      method: :delete,
                      class: "btn-delete-comment",
                      form: { class: "inline-form" } do %>
          Delete
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>