<!DOCTYPE html>
<html>
<head>
  <title>VerseCraft</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,700;1,400&family=Libre+Franklin:wght@300;400;700&display=swap" rel="stylesheet">

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
</head>

<body>
<div class="container">
  <header>
    <h1 class="text-center">VerseCraft</h1>
    <nav>
      <%= link_to 'Home', root_path %>
      <%= link_to 'Poems', poems_path %>
      <%= link_to 'Featured', featured_poems_path %>
      <% if user_signed_in? %>
        <%= link_to 'New Poem', new_poem_path %>
        <%= link_to 'My Profile', user_path(current_user) %>
        <% if current_user.admin? %>
          <%= link_to 'Admin', admin_poems_path %>
        <% end %>
        <%= link_to 'Sign Out', destroy_user_session_path, method: :delete %>
      <% else %>
        <%= link_to 'Sign In', new_user_session_path %>
        <%= link_to 'Sign Up', new_user_registration_path %>
      <% end %>
    </nav>
  </header>

  <main>
    <% if notice %><p class="notice"><%= notice %></p><% end %>
    <% if alert %><p class="alert"><%= alert %></p><% end %>

    <%= yield %>
  </main>

  <footer>
    <p>&copy; <%= Time.current.year %> VerseCraft. All rights reserved.</p>
  </footer>
</div>
</body>
</html>